/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin: 0;
}

header img.ast {
    margin-left: 10px;
}

nav {
    background-color: #444;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    flex: 1;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #575757;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    background-color: white;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Home Page Styles */
.connnn {
    text-align: center;
}

.connnn h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.connnn p {
    font-size: 1.2em;
    line-height: 1.5;
}

/* Login Page Styles */
.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

/* Profile Page Styles */
.profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.profile-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.profile-publications {
    flex: 1;
    margin-right: 20px;
}

.profile-publications h2 {
    margin-bottom: 10px;
}

.profile-publications ul {
    list-style-type: none;
    padding: 0;
}

.profile-publications li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.profile-publications button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.profile-publications button:hover {
    background-color: #0056b3;
}

.profile-bio {
    flex: 1;
    margin-left: 20px;
}

.profile-bio h2 {
    margin-bottom: 10px;
}
